body{
    margin: 0;
    font-family: sans-serif;
}

.head{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    gap: 20px;
    background-color: #333;
}

.head-text{
    color: white;
}

.head-logo{
    width: 60px;
    border-radius: 50%;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: #555;
}

.nav-text{
    color: white;
    font-size: 18px;
    cursor: pointer;
}


.main-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}


.aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 76vh;
    background-color: #999;
}

.aside-text1{
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
}

.linked{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}


.linked-text{
    font-size: 20px;
    cursor: pointer;
}


.container1{
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin-right: 50px;
    margin-top: 50px;
}

.container1 span{
    font-size: 30px;
}

.container1 p{
    font-size: 20px;
}



.slideshow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    height: 320px;
    position: relative;
    margin-bottom: 10px;
    background-color: #777;
    border-radius: 20px;
}


.prev, .next {
    display: flex;
    justify-content: center;
  cursor: pointer;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  width: 100%;
  bottom: 16px;
  right: 0px;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #333;
  font-size: 12px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  top: 10px;
  right: 165px;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #333;
}

.footer-text{
    display: flex;
    font-size: 20px;
    color: white;
}

#checkbox{
    display: none;
}

.menu{
    width: 50px;
    position: absolute;
    left: 20px;
    display: none;
}










@media (max-width: 800px) {

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container1{
    margin: 0;
    margin-top: 50px;
}
.aside{
    display: none;
    transition: all 0.50s;
    transform: translateX(-100%);
}

.footer{
    margin-top: 100px;
}

}

@media (max-width: 350px) {
    
.navbar{
    flex-wrap: wrap-reverse;
    height: 100px;
}

.nav-text{
    padding: 0% 2%;
}

}